{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container">
<p>
    Hi! My name is Serena Lee. I'm a graduate computer science student at UNC Charlotte who wants to provide easier access for UNCC students to get internships (but any person is open to use them!). This site is mostly for my mentees from last year. <br><br>

    If you are a company, startup, professor, or in general have an opprotunity that allows students to intern, research, or shadow, contact me at <a href="mailto:slee235@uncc.edu">slee235@uncc.edu</a> to have your associated opprotunity added to the 2025 internship list. <br><br>

    If you have internships avaliable after 2025, feel free to send info as well for future development. <br><br>
</p>
</div>

<div class="container">
    <p>Let's connect (and feel free to send me a message)!</p>
    <ul>
        <li> Email: <a href="mailto:slee235@uncc.edu" target = "_blank">slee235@uncc.edu </a></li>
        <li> LinkedIn: <a href="https://www.linkedin.com/in/hire-serena-lee/" target = "_blank">https://www.linkedin.com/in/hire-serena-lee/ </a></li>
        <li> Github: <a href="https://github.com/nina-network" target = "_blank">nina-network</a></li>
    </ul>
</div>

{% endblock %}