{% extends 'layout.html' %}
{% block body %}

<br>
<center><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Click Here for More Info ☞
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  <li><a class="dropdown-item">
    <p>
      There are 9 specific studies (aka concentrations) in UNC Charlotte's Bachelor Degree in Computer Science:
      <table class="table table-bordered"><tbody>
        <tr>
          <td>AI, Robotics & Gaming</td>
          <td>Bioinformatics</td>
          <td>Cybersecurity</td>
        </tr>
        <tr>
          <td>Data Science</td>
          <td>Software Engineering</td>
          <td>Software, Systems and Networks</td>
        </tr>
        <tr>
          <td>Web and Mobile Applications</td>
          <td>Human-Computer Interaction</td>
          <td>Information Technology</td>
        </tr>

      </tbody></table>

      Pick the field(s) that suit you best. 
      <br><br>
      List is sorted by ascending date!
    </p>
  </a></li>
  </ul>
</div></center>
<br>

<center>
      {% for data in all_data %}
      <a href="/internship/{{ data['id'] }}">
        <button type="button" class="flex btn btn-light mb-2" style="width:500px; height:500px;">
          <div class="col justify-content-center align-items-center" style="word-wrap: break-word;">
            <p>Concentration(s): <b>{{ data['concentration'] }}</b></p><br>
            <p>Deadline: <b>{{ data['deadline'] }}</b></p><br>
            <div>
              <div style="width: 250px; display: table-cell;"><p>Role: <b>{{ data['role_name'] }}</b></p></div>
              <div style="width: 250px; display: table-cell;"><p>Company: <b>{{ data['company'] }}</b></p></div>
            </div><br>
            <div>
              <div style="width: 250px; display: table-cell;"><p>Location: <b>{{ data['i_location'] }}</b></p></div>
              <div style="width: 250px; display: table-cell;"><p>Pay: <b>${{ data['pay'] }}/hr</b></p></div>
            </div><br>
            <p>Grade: <b>{{ data['grade'] }}</b></p><br>
            <p>Site: <b>{{ data['site_name'] }}</b></p>
          </div>
        </button>
      </a>
      {% endfor %}
</center>
{% endblock %}